<!DOCTYPE html>
<html lang="es">
<head>

  {% block title %}<title>BORANGORA</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-3 border-bottom boder-primary" style="color:blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Borangora</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-3 me-auto mb-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          
          <li class="nav-item dropdown" style="color:blue" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Ingresos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li style="color:blue"><a class="dropdown-item" href="{% url 'ingresos' %}">Por fecha</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'ing_prod' %}">Por producto</a></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#"></a></li>

             
             
            </ul>
          </li>

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salidas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="color:blue">
              <li><a class="dropdown-item" href="{% url 'salidas' %}">Todos</a></li>
              <li><a class="dropdown-item" href="{% url 'packco' %}">Packco</a></li>
              <li><a class="dropdown-item" href="{% url 'casamoda' %}">Casa Moda</a></li>
              <li><a class="dropdown-item" href="{% url 'aura' %}">Aura</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'directo' %}">Envíos directos</a></li>
              <li><a class="dropdown-item" href="{% url 'otro' %}">Otros</a></li>
            </ul>
          </li>

          <!---
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Datos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="color:blue">
              <li><a class="dropdown-item" href="">Agregar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Producto</a></li>
              <li><a class="dropdown-item" href="#">Ingreso</a></li>
              <li><a class="dropdown-item" href="#">Salida</a></li>
              
            </ul>
          </li>

          -->

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="color:blue">
              <li><a class="dropdown-item" href="{% url 'skus' %}">Productos</a></li>

            </ul>
          </li>


          
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              En oficina
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'busqueda' %}">Por producto</a></li>
              <li><a class="dropdown-item" href="{% url 'inv' %}">Todos (ver actualización)</a></li>
             
            </ul>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                En tiendas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'inv_aura' %}">Aura</a></li>
                <li><a class="dropdown-item" href="{% url 'inv_moda' %}">Casa Moda</a></li>
                <li><a class="dropdown-item" href="{% url 'total' %}">Todos (instantáneo)</a></li>
              </ul>
              </li>
          
          <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
      </nav>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-1">
      {% block sidebar %}
       {% endblock %}

      </div>
      <div class="col-sm-9 ">
      {% block content %}{% endblock %}


     {% block pagination %}
       {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
        </div>
       {% endif %}
      {% endblock %} 
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
