{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<h4 style ="color:rgb(105, 105, 226)"> Inventarios <em>en Oficina</em> </h4>

{%for prod in prod_list %}
 <p> <strong> <h5 style ="color:rgb(50, 20, 90"> <p style ="color:blue" > {{query}}&nbsp; &nbsp; &nbsp; &nbsp; {{prod.categoria}} &nbsp &nbsp &nbsp &nbsp {{prod.producto}} <h5> </p> 
{% endfor %}
  
  <ul>
    <br>
    <li><strong>Total SKU ingresados  : {{ ingresos_totales }} </strong> </li> 
    
    <li><strong>Total productos despachados  : {{ salidas_totales }} </strong> </li>
    <br>
  <h5> <strong style ="color:blue" >{{ query }} </strong> en Oficina   : =  {{ stock }} <h5>
     <br>
    <li style = "color: red"><strong> {{ mensaje }} </strong> <a style = "color: red" href="{% url 'busqueda' %}">   Nueva Búsqueda </a></li> <br> 
  </ul>

{% endblock %}