{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    <h2 style ="color:blueviolet">Inventario en Oficina</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="">SKU</th>
          <th scope="">Categoría</th>
          <th scope="">Producto</th>
          <th scope="">Ingresos</th>
          <th scope="">Salidas</th>
          <th scope="">Stock</th>
        </tr>
      </thead>
      <tbody>
      {%for prod in prod_list %}
        <tr>
           <td>{{ query }}</td>
           <td style ="color:blue" >{{prod.categoria}}</a></td>
           <td style ="color:blue" > {{prod.producto}}</td>
           <td>{{ ingresos_totales }}</td>
           <td>{{ salidas_totales }}</a></td>
          <td style ="color:blue"> {{ stock }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <li style = "color: red"><strong> {{ mensaje }} </strong> <a style = "color: red" href="{% url 'busqueda' %}">   Nueva Búsqueda </a></li> <br> 

{% endblock %}
