{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<h2>Administración de Inventarios <em>Borangora</em> </h2>

  <p>Sitio Administración de <em>Borangora</em>, para manejo de inventarios</p>

<h3>Datos Actualizados :</h3>

  <p>La Tienda tiene hoy lo siguiente:</p>
  <ul>
    <li><strong>Movimientos:</strong> {{ ingresos }}</li>
    <br>
    <li><strong>Ingresos:</strong> {{ num_ingresos }}</li>
    <li><strong>Salidas:</strong> {{ num_salidas }}</li>
    <br>
    <li><strong>Stock de productos en oficina:</strong> {{ saldo }}</li>
  </ul>

{% endblock %}