{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<h3 style ="color:rgb(105, 105, 226)"> Inventarios <em>Borangora</em> </h3>


<h5 style ="color:rgb(14, 14, 201)">Datos Actualizados :</h5>

  <ul>
    <br>
    <li><strong>Ingresos:</strong> {{ num_ingresos }}</li>
    <li><strong>Despachos:</strong> {{ num_salidas }}</li>
    <br>
    <p><strong>Stock de productos en oficina:</strong> {{ saldo }}</p>
   
    <li><strong>Productos ingresados  : {{ ingresos_totales }} </strong> </li>
    
    <li><strong>Productos despachados  : {{ salidas_totales }} </strong> </li>

    <li><strong style ="color:rgb(105, 105, 226)">Stock en Oficina   : =  {{ stock }} </strong> </li>

  </ul>


      {% block pagination %}
       {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
        </div>
       {% endif %}
      {% endblock %} 

{% endblock %}