{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<h4 style ="color:rgb(105, 105, 226)"> Inventarios instantáneo <em> en Oficina</em> </h4>
 

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="">SKU</th>
      <th scope="">Ingresos/Salidas</th>
    </tr>
  </thead>
  <tbody>
    {% for cod in total %}
    <tr>
       <td>{{cod.sku__codigo}}</td>
       <td style ="color:blue"> <strong> {{ cod.suma }}</td>
      <td ></td>
    </tr>
    {% endfor %}

  </tbody>
</table>




{% endblock %}