{% extends "base_generic.html" %}

{% block content %}
    <h2 style ="color:blueviolet">  Envíos directos</h2>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="">Fecha</th>
          <th scope="">SKU</th>
          <th scope="">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% if salida_list %}
          {% for salida in salida_list %}
        <tr>
           <td>{{ salida.creado|date:"d-m-y"}}</td>
           <td><a href="{% url 'detalle-sku' salida.sku.pk %}">{{ salida.sku }}</a></td>
          <td>{{salida.cantidad}}</td>
        </tr>
        {% endfor %}
        {% else %}
          <p>No hay salidas de productos.</p>
        {% endif %} 
      </tbody>
    </table>

{% endblock %}