{% extends "base_generic.html" %}

{% block content %}
    <h1 style="color:blueviolet"> Ingresos</h1>

    {% if ingreso_list %}
    <ul>

      {% for ingreso in ingreso_list %}
      <li style="color:darkblue">
      <h5>
        {{ ingreso.creado}} &nbsp &nbsp &nbsp &nbsp  
        {% for sku in ingreso.sku.all %} {{ sku }}{% if not forloop.last %}, {% endif %}{% endfor %}</a>  &nbsp &nbsp &nbsp &nbsp 
        {% for sku in ingreso.sku.all %} {{ catalogo__sku }}{% if not forloop.last %}, {% endif %}{% endfor %}</a>  &nbsp &nbsp &nbsp &nbsp 
        
        Cantidad : {{ingreso.cantidad}}

      </h5>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
{% endblock %}