{% extends "base_generic.html" %}

{% block content %}
    <h2 style="color:blueviolet"> Ingresos</h2>
    <br>
    {% if ingreso_list %}
    <ul>

      {% for ingreso in ingreso_list %}
      <li style="color:darkblue">
      <h5>
        {{ ingreso.creado}} &nbsp &nbsp &nbsp &nbsp 

        <a href="{% url 'detalle-sku' ingreso.sku.pk %}">{{ ingreso.sku }}</a> &nbsp &nbsp
       
        Cantidad : {{ingreso.cantidad}}
      </h5>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no Ingresos in the library.</p>
    {% endif %} 
{% endblock %}