{% extends "base_generic.html" %}


{% block content %}
    <h1 style ="color:rgb(105, 105, 226)">Salidas</h1>

    {% if salida_list %}
    <ul>

      {% for salida in salida_list %}
      <li style="color:darkblue">
        <h5>
        {{ salida.creado}} &nbsp &nbsp &nbsp &nbsp 

        {% for sku in salida.sku.all %} {{ sku }}{% if not forloop.last %}, {% endif %}{% endfor %}</a>  &nbsp &nbsp &nbsp &nbsp 

        Cantidad : {{salida.cantidad}} 
        </h5>
      </li>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay salidas de productos.</p>
    {% endif %} 
 
{% endblock %}