{% extends "base_generic.html" %}


{% block content %}
    <h2 style ="color:rgb(105, 105, 226)">Catalogo</h2>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="">Fecha</th>
          <th scope="">SKU</th>
          <th scope="">Categoría</th>
          <th scope="">Producto</th>
        </tr>
      </thead>
      <tbody>
        {% if sku_list %}
          {% for sku in sku_list %}
        <tr>
           <td>{{ sku.creado|date:"d-m-y"}}</td>
           <td style ="color:blue">{{ sku.codigo}}</td>
           <td> {{ sku.categoria}}</td>
           <td style ="color:blue"> {{ sku.producto}}</td>
        </tr>
        {% endfor %}
        {% else %}
          <p>No hay productos</p>
        {% endif %} 
      </tbody>
    </table>

    
 
{% endblock %}