{% extends "base_generic.html" %}

{% block content %}
    <h2 style ="color:rgb(105, 105, 226)">Wareclouds</h2>
    <br>
    {% if salida_list %}
    <ul>
      <h5>
      {% for salida in salida_list %}
      <li style="color:darkblue">
       
       
        {{ salida.creado}} &nbsp &nbsp &nbsp &nbsp 
        
        <a href="{% url 'detalle-sku' salida.sku.pk %}">{{ salida.sku }}</a> &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp 
        
        Cantidad : {{salida.cantidad}} 
        
      </li>
      {% endfor %}
      <h5>
    </ul>
    {% else %}
      <p>No hay productos enviados</p>
    {% endif %} 
{% endblock %}